.image-upload-container {
	cursor: pointer;
	padding: .5em 1em;
	background-color: #3f51b5;
	color: #fff;
	font-weight: 400;
	border-radius: 5px;
}

.image-upload-container input {
	display: none;
}

.img-preview-container {
	background-color: #f7f7f7;
	position: relative;
	height: 116px;
	width: 116px;
	text-align: center;
	margin: 1em auto;
}