<h1>Create a Team</h1>
<hr />

<form (ngSubmit)="onSubmit()" [formGroup]="teamForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Team Name" formControlName="TeamName" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="League Name" formControlName="LeagueID" required>
          <mat-option *ngFor="let league of leagues" [value]="league.LeagueID">
            {{league.LeagueName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
        <label class="image-upload-container">
          <span>Select Image</span>
          <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" required/>
        </label>
        <div *ngIf="selectedFile" class="img-preview-container">
          <div class="img-preview" [ngStyle]="{'background-image': 'url('+ selectedFile.src +')'}">
          </div>
        </div>
      </div>
  </div>
  <button mat-raised-button color="primary" type="submit">Create Team</button>
</form>

<a mat-button routerLink="/team">Back to Team Index</a>