.nav-brand {
    text-decoration: none;
    color: white;
}

.nav-brand:hover {
    color: #ccc;
}

.filler {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #132584;
}