<h1>Team Details</h1>
<div *ngIf="team">
  <div>
    <label for="">Team Name: </label>
    <span>{{team.TeamName}}</span>
  </div>
  <div>
    <div class="img-preview" [attr.src]="(team.ImageData)"
      [ngStyle]="{'background-image': 'url('+ team.ImageData +')'}">
    </div>
  </div>
  <div>
    <a routerLink="/league/details/{{team.LeagueID}}">
      <label for="">League: </label>
      <span>{{team.LeagueName}}</span>
    </a>
  </div>

  <button mat-raised-button routerLink="/team/edit/{{team.TeamID}}" color="accent"
    *ngIf="team.UserIsOwner">Edit</button>
  <button mat-raised-button routerLink="/team/delete/{{team.TeamID}}" color="warn"
    *ngIf="team.UserIsOwner">Delete</button>
</div>

<button mat-raised-button routerLink="/team" color="primary">Back to List</button>