<h1>Leagues</h1>
<a mat-raised-button color="primary" routerLink="create">Create New</a>
<hr />

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let league">
        <i mat-icon class="material-icons" routerLink="details/{{league.LeagueID}}">library_books</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="leagueName">
      <mat-header-cell *matHeaderCellDef>League Name</mat-header-cell>
      <mat-cell *matCellDef="let league">{{league.LeagueName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let league">
        <i mat-icon class="material-icons" *ngIf="league.UserIsOwner" routerLink="edit/{{league.LeagueID}}">edit</i>
        <i mat-icon class="material-icons" *ngIf="league.UserIsOwner">delete</i>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>