<mat-toolbar class="nav" color="primary">
    <button mat-button (click)="sidenav.toggle()">
        <i class="material-icons">
            menu
        </i>
    </button>
    <div class="filler"></div>
    <a routerLink="/" class="nav-brand">Stadium Tracker</a>
    <div class="filler"></div>
    <button mat-button></button>
</mat-toolbar>
<mat-sidenav-container class="side-nav">
    <mat-sidenav #sidenav class="navigation-menu">
        <div class="nav-btn-grp">
            <p><button mat-button class="nav-btn" routerLink="/">Home</button></p>
            <p><button mat-button class="nav-btn" routerLink="/">About</button></p>
            <div class="nav-route-buttons" *ngIf="_authService.showLogout">
                <p><button mat-button class="nav-btn" routerLink="/league">Leagues</button></p>
                <p><button mat-button class="nav-btn" routerLink="/team">Teams</button></p>
                <p><button mat-button class="nav-btn" routerLink="/">Stadiums</button></p>
                <p><button mat-button class="nav-btn" routerLink="/">Games</button></p>
                <p><button mat-button class="nav-btn" routerLink="/">Stats</button></p>
                <p><button mat-button class="nav-btn" routerLink="/">Visitors</button></p>
            </div>
        </div>

        <div class="site-footer">
            <div *ngIf="_authService.showLogout">
                <p><button mat-button class="nav-btn" (click)="onLogout()">Logout</button></p>
            </div>

            <div *ngIf="!_authService.showLogout">
                <p><button mat-button class="nav-btn" routerLink="/login">Login</button></p>
                <p><button mat-button class="nav-btn" routerLink="/register">Register</button></p>
            </div>
            <a routerLink="/">&copy; {{ year }} Stadium Tracker</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="text-align: center">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>