.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    z-index: 2;
}

.nav-brand {
    font-size: 1.35em;
    text-decoration: none;
    color: white;
}

.nav-brand:hover {
    color: #ccc;
}

.filler {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 15em;
}

.nav-btn-grp {
    margin-top: 5em;
    text-align: center;
}

.side-nav {
    padding-top: 3.5em;
    height: 100vh;
}

.nav-btn {
    width: 90%;
    background-color: #132584;
    color: white;
}

.nav-btn i {
    position: absolute;
    left: 7px;
    top: 6px;
}

.site-footer {
    position: absolute;
    bottom: .5em;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
}

.site-footer a {
    color: #555;
    font-size: .85em;
    text-decoration: none;
}