<mat-toolbar class="nav" color="primary">
    <button mat-button (click)="sidenav.toggle()">
        <i class="material-icons">
            menu
        </i>
    </button>
    <div class="filler"></div>
    <a routerLink="/" class="nav-brand">Stadium Tracker</a>
    <div class="filler"></div>
    <button mat-button></button>
</mat-toolbar>
<mat-sidenav-container class="side-nav">
    <mat-sidenav #sidenav class="navigation-menu">
        <div class="nav-btn-grp">
            <p><button mat-button class="nav-btn" routerLink="/">
                    <i class="material-icons">home</i>Home
                </button></p>
            <p><button mat-button class="nav-btn" routerLink="/">
                    <i class="material-icons">info</i>About
                </button></p>
            <div class="nav-route-buttons" *ngIf="_authService.showLogout">
                <p><button mat-button class="nav-btn" routerLink="/league">
                        <i class="material-icons">format_list_bulleted</i>Leagues
                    </button></p>
                <p><button mat-button class="nav-btn" routerLink="/team">
                        <i class="material-icons">people</i>Teams
                    </button></p>
                <p><button mat-button class="nav-btn" routerLink="/stadium">
                        <i class="material-icons">location_on</i>Stadiums
                    </button></p>
                <p><button mat-button class="nav-btn" routerLink="/game">
                        <i class="material-icons">signal_wifi_4_bar</i>Games
                    </button></p>
                <p><button mat-button class="nav-btn" routerLink="/">
                        <i class="material-icons">person</i>Visitors
                    </button></p>
                <p><button mat-button class="nav-btn" routerLink="/">
                        <i class="material-icons">insert_chart</i>Stats
                    </button></p>
            </div>
        </div>

        <div class="site-footer">
            <div *ngIf="_authService.showLogout">
                <p><button mat-button class="nav-btn" (click)="onLogout()">Logout</button></p>
            </div>

            <div *ngIf="!_authService.showLogout">
                <p><button mat-button class="nav-btn" routerLink="/login">Login</button></p>
                <p><button mat-button class="nav-btn" routerLink="/register">Register</button></p>
            </div>
            <a routerLink="/">&copy; {{ year }} Stadium Tracker</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="text-align: center">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>