.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    z-index: 2;
}

.nav-brand {
    font-size: 1.35em;
    text-decoration: none;
    color: white;
}

.nav-brand:hover {
    color: #ccc;
}

.filler {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 13em;
    padding: .5em;
}

.nav-btn-grp {
    margin-top: 5em;
    text-align: center;
}

.side-nav {
    padding-top: 3.5em;
    height: 100vh;
}

.nav-btn {
    width: 90%;
    background-color: #132584;
    color: white;
}