<h1>Stadiums</h1>
<a mat-raised-button color="primary" routerLink="create">Create New</a>
<hr />

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let stadium">
        <i mat-icon class="material-icons" routerLink="details/{{stadium.StadiumID}}">library_books</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stadiumName">
      <mat-header-cell *matHeaderCellDef>Stadium Name</mat-header-cell>
      <mat-cell *matCellDef="let stadium">{{stadium.StadiumName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cityName">
      <mat-header-cell *matHeaderCellDef>City Name</mat-header-cell>
      <mat-cell *matCellDef="let stadium">{{stadium.CityName}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>State Name</mat-header-cell>
      <mat-cell *matCellDef="let stadium">{{stadium.StateName}}</mat-cell>
    </ng-container>

  </mat-table>
</div>