<div *ngIf="game">
  <h1>{{game.HomeTeam.TeamName}} vs {{game.AwayTeam.TeamName}}</h1>
  <div>
    <h3>
      Played at:
      <a routerLink="/stadium/details/{{game.Stadium.StadiumID}}">{{game.Stadium.StadiumName}}</a>
      in {{game.Stadium.CityName}}, {{game.Stadium.StateName}}
    </h3>
  </div>
  <div>
    <div style="display: inline-block; margin: 2em;">
      <div style="width: 50%" class="img-preview" routerLink="/team/details/{{game.HomeTeam.TeamID}}"
        style="cursor: pointer;" [ngStyle]="{'background-image': 'url('+ game.HomeTeam.ImageData +')'}">
      </div>
      <div>
        {{game.HomeTeam.TeamName}}
      </div>
    </div>
    <div style="display: inline-block; margin: 2em;">
      <div style="width: 50%" class="img-preview" routerLink="/team/details/{{game.AwayTeam.TeamID}}"
        style="cursor: pointer;" [ngStyle]="{'background-image': 'url('+ game.AwayTeam.ImageData +')'}">
      </div>
      <div>
        {{game.AwayTeam.TeamName}}
      </div>
    </div>
  </div>
  <button mat-raised-button (click)="onDelete()" color="warn" *ngIf="game.UserIsOwner">Delete</button>
  <button mat-raised-button routerLink="/game/details/{{game.GameID}}" color="primary">Back to Team</button>
</div>